body {
  margin: 0;
  font-family: 'Consolas', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffffe;
}

input {
  font-family: Consolas, monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.default-flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.padding {
  padding: 10px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.8rem;
}
